

<ul>
<% @users.each do |u| %>
	<li> Users in group: <%= u.name %> </li>
	<li> Points: <%= u.points %> </li>
	<li> Guess:	<%= u.guesses %> </li>
<% end %>
</ul>


<ul>
	<% @users.each do |group| %>
		<li><%= link_to group.name, group_path(group) %></li>
	<% end %>
</ul>