<h1>Users Show Page</h1>

<% @guesses.each do |g| %>
<ul>
<li>Amount: <%= g.amount %> million</li>
<li>Movie ID: <%= g.movie_id %></li>
</ul>
<% end %>


 <%=link_to "Edit Profile", edit_user_path(current_user), class: "small button" %>