<h1>Box Office Breakdown</h1>

<li class="add_group_style"><%= link_to "+ Add New Group", new_group_path %></li>
 <div id = "moviecontainer">
	<div id="test">
		
	</div>

	<div id="dates"></div>
	<div class="clearfix"></div>
</div>
<table>
  <thead>
    <tr>
      <th>TITLE</th>
      <th>WEEKEND BOX OFFICE</th>
      <th></th>
    </tr>
  </thead>
<!-- calling scrape from online and throwing into an array -->
  <tbody>
    <% @listings.each do |t| %>
      <tr>
        <td><%= t.movie.title %></td>
        <td><%= number_to_currency(t.movie.actual_amount) %></td>
      </tr>
     
    <% end %>
  </tbody>
</table>

<br>